<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <settings>
      <!--if your web database has another name than web, change the value-->
      <setting name="WebDatabaseName" value="web" />    
    </settings>
  </sitecore>
</configuration>