<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:search="http://www.sitecore.net/xmlconfig/search/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <settings>
      <setting name="PasswordRecoveryFromMail" value="content@hu.nl" />
      <setting name="PasswordRecoveryMailSubject" value="Wachtwoord vergeten Sitecore" />
      <setting name="PasswordRecoveryMailBody1" value="Je hebt een nieuw wachtwoord aangevraagd voor Sitecore van Hogeschool Utrecht." />
      <setting name="PasswordRecoveryMailBody2" value="Als je dit niet zelf hebt gedaan neem dan direct contact op met Content@hu.nl." />
      <setting name="PasswordRecoveryMailBody3" value="Gebruik de volgende link om een nieuw wachtwoord aan te maken:" />
      <setting name="PasswordRecoveryMailBody4" value="Werkt de link niet? Kopieer de link en plak deze in een browser" />
      <setting name="ExpirationHoursToken" value="24" />
    </settings>
  </sitecore>
</configuration>