@model Sitecore.PasswordRecovery.Feature.Security.Models.PasswordRecoverViewModel
@using Sitecore.Globalization

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>HU.nl | Wachtwoord herstellen</title>
    <meta name="title" content="HU.nl | Hier komt alles samen | Hogeschool Utrecht" />
    <meta http-equiv="cleartype" content="on">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noindex,nofollow" />
    @*<link rel="stylesheet" href="/static/css/custom.css">*@
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/custom_css.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicons/manifest.json">
    <link rel="mask-icon" href="/static/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <style>
        html {
            height: 100%;
        }
    </style>
</head>
<body class="password-recovery">
    <div class="login-outer page-type-content">
        <div class="login-main-wrap">
            <div class="login-box">
                <div class="section section--form layout-fit">
                    <div class="section-wrapper">
                        <picture class="topbar__body__logo__picture" style="margin-bottom:40px;">
                            <source srcset="/static/images/hu-logo.svg" media="(min-width: 768px)">
                            <source srcset="/static/images/hu-logo-small.svg" media="(min-width: 1px)">
                            <img src="" alt="Hogeschool Utrecht">
                        </picture>
                        <div class="section__header">
                            <div class="section__header__main">
                                <h2 class="section__header__main__title" style="text-transform:none">Wachtwoord wijzigen</h2>
                            </div>
                        </div>
                        <div class="section__content">
                            <div class="reset-pass-form sitecore-form">
                                <div class="richtext richtext--small" style="font-size: 15px;">
                                    Maak een nieuw wachtwoord aan. Het wachtwoord moet voldoen aan de volgende eisen:<br /><br />
                                    * Minimaal 10 karakters<br />
                                    * Minimaal 3 karakters komen uit de volgende categorieën:<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;- Hoofdletters (A tot en met Z)<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;- Kleine letters (a tot en met z)<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;- Cijfers uit het tientallig getalstelsel (0 tot en met 9)<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;- Niet-alfanumerieke tekens (zoals, !, $, #, %)
                                </div>
                                @using (Html.BeginForm("RecoverPassword", "Security"))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(false)

                                    <div class="form-row">
                                        <label>Nieuwe wachtwoord</label>
                                        @Html.PasswordFor(m => m.NewPassword, new { placeholder = "Nieuwe wachtwoord" })
                                    </div>
                                    <div class="form-row">
                                        <label>Herhaal nieuwe wachtwoord</label>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Herhaal nieuwe wachtwoord" })
                                        <span class="field-validation-error">
                                            <span id="divCheckPasswordMatch"></span>
                                        </span>
                                    </div>
                                    <div class="submit-row">
                                        <input type="submit" value="opslaan" disabled="disabled" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/static/js/custom_pw.js" crossorigin="anonymous"></script>
</body>
</html>