<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>Custom password recovery</title>
    <link rel="stylesheet" href="/assets/password-recovery.css">
    <style>
        html {
            height: 100%;
        }
    </style>
</head>
<body class="password-recovery">
    <div class="login-outer">
        <div class="login-main-wrap">
            <div class="login-box">
                <div class="section">
                    <div>
                        <div>
                            <div>
                                <h2 style="text-transform:none">Your password has been updated!</h2>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <p>Return to the login page and use your new password to login.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/assets/password-recovery.js" crossorigin="anonymous"></script>
</body>
</html>