<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>HU.nl | Wachtwoord herstellen</title>
    <meta name="title" content="HU.nl | Hier komt alles samen | Hogeschool Utrecht" />
    <meta http-equiv="cleartype" content="on">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noindex,nofollow" />
    @*<link rel="stylesheet" href="/static/css/custom.css">*@
    <link rel="stylesheet" href="/static/css/theme.css">
    <link rel="stylesheet" href="/static/css/custom_css.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicons/manifest.json">
    <link rel="mask-icon" href="/static/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <style>
        html {
            height: 100%;
        }
    </style>
</head>
<body class="password-recovery">
    <div class="login-outer page-type-content">
        <div class="login-main-wrap">
            <div class="login-box">
                <div class="section section--form layout-fit">
                    <div class="section-wrapper">
                        <picture class="topbar__body__logo__picture" style="margin-bottom:40px;">
                            <source srcset="/static/images/hu-logo.svg" media="(min-width: 768px)">
                            <source srcset="/static/images/hu-logo-small.svg" media="(min-width: 1px)">
                            <img src="" alt="Hogeschool Utrecht">
                        </picture>
                        <div class="section__header">
                            <div class="section__header__main">
                                <h2 class="section__header__main__title" style="text-transform:none">Wachtwoord wijziging geslaagd!</h2>
                            </div>
                        </div>
                        <div class="section__content">
                            <div class="reset-pass-form sitecore-form">
                                <div class="richtext richtext--small">
                                    <p>Ga naar de inlogpagina en log in met je nieuwe wachtwoord.</p>
                                </div>
                                @*<a class="link-btn link-btn-blue" href="/hier-komt-alles-samen" target="">
                                    Inloggen
                                    <svg class="icon-arrow" aria-hidden="true" viewBox="0 0 18 12" width="18" height="12">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow">
                                            <svg id="arrow" width="100%" height="100%"><path d="M10.6714286,0.285714286 L10.6714286,0.285714286 C10.2857143,0.666666667 10.2857143,1.3015873 10.6714286,1.68253968 L14.0142857,4.98412698 L0,4.98412698 L0,7.01587302 L14.0142857,7.01587302 L10.6714286,10.3174603 C10.2857143,10.6984127 10.2857143,11.3333333 10.6714286,11.7142857 L10.6714286,11.7142857 C11.0571429,12.0952381 11.8285714,12.0952381 12.0857143,11.7142857 L18,6 L12.2142857,0.285714286 C11.8285714,-0.0952380952 11.1857143,-0.0952380952 10.6714286,0.285714286 Z"></path></svg>
                                        </use>
                                    </svg>
                                </a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/static/js/custom_pw.js" crossorigin="anonymous"></script>
</body>
</html>