@model Sitecore.PasswordRecovery.Feature.Security.Models.PasswordRecoverViewModel
@using Sitecore.Globalization

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>Custom password recovery</title>
    <link rel="stylesheet" href="/assets/password-recovery.css">
    <style>
        html {
            height: 100%;
        }
    </style>
</head>
<body class="password-recovery">
    <div class="login-outer">
        <div class="login-main-wrap">
            <div class="login-box">
                <div class="section">
                    <div>                 
                        <div>
                            <div>
                                <h2 style="text-transform:none">Reset password</h2>
                            </div>
                        </div>
                        <div>
                            <div class="reset-pass-form sitecore-form">
                                <div style="font-size: 15px;">
                                    Enter a new password which matches the following requirements:<br /><br />
                                    * Minimum lenght of 10 characters<br />
                                    * At least 3 characters are from one of the following categories:<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;- Uppercase (A - Z)<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;- Lowercase (a - z)<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;- Numbers (0 - 9)<br />
                                    &nbsp;&nbsp;&nbsp;&nbsp;- Non-alphanumeric characters (e.g. !, $, #, %)
                                </div>
                                @using (Html.BeginForm("RecoverPassword", "Security"))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(false)

                                    <div class="form-row">
                                        <label>New password</label>
                                        @Html.PasswordFor(m => m.NewPassword, new { placeholder = "New password" })
                                    </div>
                                    <div class="form-row">
                                        <label>Repeat new password</label>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Repeat new password" })
                                        <span class="field-validation-error">
                                            <span id="divCheckPasswordMatch"></span>
                                        </span>
                                    </div>
                                    <div class="submit-row">
                                        <input type="submit" value="Save" disabled="disabled" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/assets/password-recovery.js" crossorigin="anonymous"></script>
</body>
</html>